<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services - Eterna Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Eterna
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>



  <!-- ======= Header ======= -->
  <%- include('nav') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/wws">Services</a></li>
          <li>Automotive Sector</li>
        </ol>
        <h2>We Serve Automotive Sector</h2>

      </div>
    </section><!-- End Breadcrumbs -->


<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col" style="height: 30vh; overflow-y: hidden;">
            <img src="assets/img/automotive.jpeg" class="img-fluid" alt="" width="100%">
          </div>
        </div>

        <div class="row my-3">
          <div class="col">

            <h3>Driving Automotive Excellence</h3>
            <p class="fst-italic">
              Empowering Automotive Innovation
            </p>
            <p>
              At Ganga Technocast, we are proud to be a driving force in the automotive sector, providing top-notch casting solutions that empower the industry's advancements. Our expertise spans a wide range of automotive components, including engine parts, transmission gears, and robust chassis components. With a keen eye for precision, our skilled team ensures that every casting meets the strictest standards, contributing to the superior performance, efficiency, and durability of vehicles.
            </p>
               <p>As a trusted partner to automotive manufacturers and suppliers, we deliver castings that play a pivotal role in enhancing vehicle performance and safety. Whether it's lightweight materials for fuel efficiency or robust components for heavy-duty applications, our casting solutions cater to various automotive needs.</p>
            <p>
              With an unwavering commitment to innovation, we leverage advanced technology and cutting-edge techniques to stay ahead in the ever-evolving automotive landscape. Our state-of-the-art facilities and comprehensive quality control measures guarantee that our castings consistently meet and surpass industry expectations.
            </p>
            <p>
              As we continue to drive automotive excellence, our collaborative approach enables us to understand our clients' specific requirements thoroughly. We work hand-in-hand with automotive industry stakeholders, providing personalized consultation and tailored solutions that precisely align with their unique projects.
            </p>
            <p>
              Join us at Ganga Technocast and experience how our capabilities in the automotive sector can accelerate your path to success. Together, let's create a future where precision casting fuels the driving experience of tomorrow's vehicles.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->
  



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>