<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services - Eterna Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Eterna
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


  <style>
    #myVideo {
    min-width: 100%; 
    height: auto;
    position: relative;
    bottom: 100px;
    }
  </style>
</head>

<body>


  <!-- ======= Header ======= -->
  <%- include('nav') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="ic_main" class="ic_main">
        <div style="height: 90vh; overflow-y: hidden;">
            <video autoplay muted loop id="myVideo">
            <source src="assets/video/demo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </video>
        </div>        
    </section><!-- End Breadcrumbs -->

      <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <a href="" style="color: black;">
                <div class="icon_img mb-5">
                    <!-- <i class="bx bxl-dribbble"></i> -->
                    <img src="assets/img/ic/investment-casting.png" alt="" width="70%" height="100%">
                </div>
                
                <h4>Investment Casting</h4>
                <p>Our investment casting process enables the creation of a wide range of precision metal components, tailored to almost any configuration. Explore our overview for further insights.</p>
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
                <a href="" style="color: black;">
                <div class="icon_img mb-5">
                    <!-- <i class="bx bxl-dribbble"></i> -->
                    <img src="assets/img/ic/ic-p.png" alt="" width="70%" height="100%">
                </div>
                <h4>Investment Casting Process</h4>
                <p>As a prominent investment casting manufacturer, we excel in guiding you through a 10-step process, seamlessly leading you from design to final delivery. Moreover, our expertise includes proficiently casting stainless steel components.</p>
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
           <div class="icon-box">
                <a href="" style="color: black;">
                <div class="icon_img mb-5">
                    <!-- <i class="bx bxl-dribbble"></i> -->
                    <img src="assets/img/ic/ic-prototype.png" alt="" width="70%" height="100%">
                </div>
                <h4>Prototype Casting</h4>
                <p>We offer the most efficient prototyping solutions for your components, enabling the development of your ideas with precision.</p>
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <a href="" style="color: black;">
                <div class="icon_img mb-5">
                    <!-- <i class="bx bxl-dribbble"></i> -->
                    <img src="assets/img/ic/ic-m.png" alt="" width="70%" height="100%">
                </div>
                <h4>Investment Casting Metals</h4>
                <p>We conduct casting processes for a wide range of alloys, including 400 series stainless steel and aluminum. In fact, we operate round the clock, pouring almost any alloy, with only rare exceptions.</p>
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <a href="" style="color: black;">
                <div class="icon_img mb-5">
                    <!-- <i class="bx bxl-dribbble"></i> -->
                    <img src="assets/img/ic/ic-sf.png" alt="" width="70%" height="100%">
                </div>
                <h4>Surface Finishing and Plating</h4>
                <p>We go the extra mile to guarantee our customers' success, offering additional services that are designed to save both time and money.</p>
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <a href="" style="color: black;">
                <div class="icon_img mb-5">
                    <!-- <i class="bx bxl-dribbble"></i> -->
                    <img src="assets/img/ic/e_p.png" alt="" width="70%" height="100%">
                </div>
                <h4>Parts and Product Examples</h4>
                <p>We assist clients in overcoming their manufacturing obstacles by providing top-performing components at a speed that surpasses competitors.</p>
                </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>