<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services - Eterna Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Eterna
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>



  <!-- ======= Header ======= -->
  <%- include('nav') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">
            Home
        </a></li>
          <li><a href="/wws">Services</a></li>
          <li>Industrial Sector</li>
        </ol>
        <h2>We Serve Industrial Sector</h2>

      </div>
    </section><!-- End Breadcrumbs -->


<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col" style="height: 30vh; overflow-y: hidden;">
            <img src="assets/img/industrial.jpeg" class="img-fluid" alt="" width="100%;position: static;bottom: 50px;">
          </div>
        </div>

        <div class="row my-3">
          <div class="col">

            <h3>Industrial Sector Expertise</h3>
            <p class="fst-italic">
              Empowering Industrial Innovations
            </p>
            <p>
              At Ganga Technocast, we take immense pride in our extensive capabilities within the industrial sector. With a deep understanding of industrial processes and applications, our precision casting solutions play a vital role in empowering industrial innovations. From supplying intricate castings for pumps, valves, and gears to providing robust components for heavy machinery, our craftsmanship ensures seamless operations and enhanced performance in various industrial settings.
            </p>
               <p>Our commitment to excellence is reflected in the impeccable quality of our castings, meticulously designed to withstand the demanding conditions of industrial environments. We collaborate closely with industrial clients, tailoring our casting solutions to match their specific needs and contributing to the success of their projects. Whether it's for power generation, manufacturing, or process automation, Ganga Technocast serves as a trusted partner, driving industrial progress through cutting-edge casting expertise.</p>
            <p>
              Feel free to adjust and customize the body text to accurately reflect your company's unique offerings and capabilities in the industrial sector.
            </p>
         
          
          </div>

        </div>

      </div>
    </section><!-- End About Section -->
  



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>